# gateway-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
  namespace: inventory
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
        - name: gateway-service
          image: mohammed.azurecr.io/gateway:latest
          ports:
            - containerPort: 8222
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8222
            initialDelaySeconds: 90
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8222
            initialDelaySeconds: 60
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: inventory
spec:
  selector:
    app: gateway-service
  ports:
    - port: 8222
      targetPort: 8222
  type: LoadBalancer

