apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-script
  namespace: inventory
data:
  init.sql: |
    -- Créer les bases de données pour chaque service
    CREATE DATABASE productdb;
    CREATE DATABASE raw_material_db;
    
    -- Optionnel : créer des utilisateurs spécifiques pour chaque DB
    -- GRANT ALL PRIVILEGES ON DATABASE productdb TO admin;
    -- GRANT ALL PRIVILEGES ON DATABASE rawmaterialdb TO admin;
    -- GRANT ALL PRIVILEGES ON DATABASE supplierdb TO admin;
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: inventory
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-db
  template:
    metadata:
      labels:
        app: postgres-db
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: password
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
            - name: init-script
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
        - name: init-script
          configMap:
            name: postgres-init-script
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: inventory
spec:
  selector:
    app: postgres-db
  ports:
    - port: 5432
      targetPort: 5432
  type: ClusterIP
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: inventory
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi