# secrets.yaml
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: inventory
type: Opaque
stringData:
  username: admin
  password: admin
---
apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: inventory
type: Opaque
stringData:
  username: admin
  password: admin

