alertmanager:
  enabled: true
  config:
    global:
      smtp_smarthost: 'smtp.gmail.com:587'
      smtp_from: 'mohammedlaamarti53@gmail.com'
      smtp_auth_username: 'mohammedlaamarti53@gmail.com'
      smtp_auth_password: 'yzbl esib tpno tdtg'
      smtp_require_tls: true
    route:
      receiver: 'email'
      repeat_interval: 4h
    receivers:
      - name: 'email'
        email_configs:
          - to: 'mohammedlaamarti53@gmail.com'

nodeExporter:
  enabled: true

kubeStateMetrics:
  enabled: true

prometheusOperator:
  enabled: true

prometheus:
  enabled: true

grafana:
  enabled: true
  adminPassword: "admin123"