spring:
  profiles:
    active: native
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations

server:
  port: 8888

#management:
#  endpoints:
#    web:
#      exposure:
#        include: health,info
#  endpoint:
#    health:
#      show-details: always
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus  # Endpoints exposés
  endpoint:
    prometheus:
      access: unrestricted  # Prometheus peut accéder sans auth
  prometheus:
    metrics:
      export:
        enabled: true